body{
    background-color: beige;
}

.enviar{
    margin-left: 1%;
    background-color:cadetblue;
    color:black;
    border-radius: 5%;
    font-family: 'Sono', sans-serif;
}

#nombre{
    border-radius: 5%;
    background-color: ;
    tex
}

#apellido{
    border-radius: 5%;
}